<nav>
    <mat-toolbar class="md-elevation-z24" color="primary">
        <mat-toolbar-row id="top-nav">
            <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
            <span id="app-title">{{title}}</span>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>
<main>
    <mat-drawer-container fullscreen="true" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="margin-top:56px">
        <mat-drawer opened="true" mode="side" fixedInViewport="true" fixedTopGap="64" class="md-elevation-z12">
            <app-bookmarks-filters></app-bookmarks-filters>
        </mat-drawer>
        <mat-drawer-content>
            <app-bookmarks-container></app-bookmarks-container>
        </mat-drawer-content>
    </mat-drawer-container>
</main>